/* ------------CUSTOM FONT------------ */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
body {
  font-family: 'Poppins', sans-serif;
}
/* ------------CUSTOM COLOR------------ */
.bg-info-light {
  background-color: #f0f8fd;
}
.custom-hover {
  filter: saturate(0) !important;
  transition: all 0.4s !important;
}
.custom-hover:hover {
  filter: saturate(1) !important;
}
